#oopss {
    text-align: center;
    margin-bottom: 50px;
    font-weight: 400;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #error-text {
    top: 30%;
    position: relative;
    font-size: 40px;
    color: #000000;
  }
  
  #error-text a {
    color: #000;
  }
  
  #error-text a:hover {
    color: #000;
  }
  
  #error-text p {
    color: #000;
    margin: 40px 0 0 0;
  }
  
  #error-text i {
    margin-left: 10px;
  }
  
  #error-text p.hmpg {
    margin: 40px 0 0 0;
  }
  
  #error-text span {
    position: relative;
    background: #371e97;
    color: #fff;
    font-size: 300%;
    padding: 0 20px;
    border-radius: 5px;
    font-weight: bolder;
    transition: all .5s;
    cursor: pointer;
    margin: 0 0 40px 0;
  }
  
  #error-text span:hover {
    background: #4F2CD4;
    color: #fff;
    -webkit-animation: jelly .5s;
    -moz-animation: jelly .5s;
    -ms-animation: jelly .5s;
    -o-animation: jelly .5s;
    animation: jelly .5s;
  }
  
  #error-text span:after {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: '';
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(136, 183, 213, 0);
    border-top-color: #4F2CD4;
    border-width: 7px;
    margin-left: -7px;
  }
  .back{
    background-color: #4F2CD4!important;
    color: #fff!important;
    border-radius: 50px;
    cursor: pointer;
  }